<div>
  <%= form_with model: :like, url: user_post_likes_path(@user, @post), class: "like-form" do |form| %>
    <div>
      <%= form.button "Like Post", class: "likes-form", "aria-label": "Like this post" %><br>
      <%= form.hidden_field :authenticity_token, value: form_authenticity_token %>
    </div>
  <% end %>
</div>
