<div class="index-homepage">
  <img class="index-user-photo" src="<%= user.photo %>">
  <div class="index-user-data">
    <h2 class="user_name"><%= user.name %></h2>
    <span class="number_of_post">Number of posts: <%= user.posts_counter %></span>
  </div>
</div>

<%= render @user.bio %>
