<h1>List of all users</h1>

<ul>
  <% @users.each do |user| %>
    <li class="user">
      <figure class="userphoto">
        <%= user.photo.present? ? image_tag(user.photo) : "No image found" %>
      </figure>
      <figcaption class="username">
        <%= link_to user_path(user), class: "username-link" do %>
          <h2><%= user.name %></h2>
          <p>Number of posts: <%= user.posts_counter %></p>
        <% end %>
      </figcaption>
    </li>
  <% end %>
</ul>
