<div class="user__box">
  <img src= "<%= user.photo %>" alt="image"/>
  <div class="name__box">
    <p class="user__name"><%= user.name %></p>
    <p class="user_number_of_post">Number of posts: <%= user.posts_counter || 0 %></p>
  </div>
</div>
