<div class="user-details gap">
  <div class="user">
    <div class="userphoto">
      <% if user.photo %>
        <img src="<%= user.photo %>" >
      <% else %>
        <p> No image found </p>
      <% end %>
    </div>

    <div class="username">
      <%= link_to user_path(user) do %>
        <h2><%= user.name %></h2>
        <p>Number of posts: <%= user.posts_counter %></p>
      <% end %>
    </div>
  </div>
</div>
