* {
  box-sizing: border-box;
  padding: 0;
  margin: 0 40px;
}

body {
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  color: #333;
  width: 100%;
  margin: 0 40px;
}

.index-homepage {
  display: flex;
  justify-content: center;
  align-items: center;
}

.index-text-link {
  margin-top: 20px;
  margin-bottom: 20px;
}

.index-user-photo {
  height: 115px;
  width: 100px;
  border: 3px solid black;
  margin-right: -20px;
}

.index-user-data {
  display: flex;
  flex-direction: column;
  width: 30%;
  border: 2px solid black;
  padding: 20px;
}

.user_name {
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.number_of_post {
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 20px;
  text-align: end;
}

.single {
  width: 100%;
  margin: 0 auto;
}

.single-tittle {
  font-size: 30px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  text-align: center;
}

.single-user-image-data {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 20px auto;
  width: 68%;
}

.single-user-photo {
  height: 120px;
  width: 120px;
  border: 4px solid black;
  margin-left: 30px;
  margin-right: -30px;
}

.single-user-image {
  border-radius: 50%;
  margin-left: 10px;
}

.single-user-data {
  display: flex;
  flex-direction: column;
}

.single-user-data-title {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  margin-bottom: 10px;
  justify-content: flex-start;
}

.bio {
  font-size: 20px;
  font-weight: 700;
  color: #333;
  justify-content: center;
  align-items: center;
  width: 61.9%;
  border: 4px solid black;
  margin: 0 auto 20px auto;
  padding: 10px;
}

.bio-paragraph {
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.single-user-post {
  width: 93%;
  margin: 0 auto;
}

.all-post-button {
  padding: 10px 30px;
  margin-top: 20px;
  background-color: teal;
  color: white;
  border-radius: 5px;
}

.all-post-button:hover {
  background-color: white;
  color: teal;
  border: 1px solid teal;
}

.specific {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.specific-title {
  font-weight: bold;
  font-size: 18px;
}

.specific-img-post {
  width: 50%;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.specific-img {
  height: 100px;
  width: 100px;
  border: 3px solid black;
  margin-right: -10px;
  margin-left: 30px;
}

.specific-user-content {
  display: flex;
  flex-direction: column;
  width: 75%;
  border: 3px solid black;
}

.specific-post-data {
  width: 48%;
}

.specific-post-container {
  border: 2px solid black;
  margin: 20px;
}

.specific-post-title {
  font-size: 18px;
  font-weight: bold;
  text-align: start;
  margin-left: -10px;
  margin-top: 10px;
}

.specific-post-body {
  font-size: 16px;
  margin-top: 20px;
  margin-left: 28px;
}

.likes-comments-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.post-comments-title {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

.comments-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  border: 3px solid black;
  margin: 0 auto 20px auto;
  padding: 10px;
}

.comment-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comment-like {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 20px;
  order: 3;
}

.comment-text {
  font-size: 16px;
  margin-top: 20px;
  margin-left: -40px;
  text-align: start;
}

.comment-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-bottom: 20px;
}

.each-post-comments {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 20px auto;
}

.add-comments {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto 20px auto;
}

.add-comment-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.comment-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 20px auto;
}

.add-comment-btn {
  padding: 5px 30px;
  margin-top: 20px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  border: 2px solid teal;
}

.add-comment-btn:hover {
  background-color: white;
  color: teal;
  border: 2px solid teal;
}

.post-n-comment-n-like {
  display: flex;
  margin-left: -30px;
}

.comment-like-counts {
  display: flex;
  justify-content: flex-end;
  margin-left: 10px;
}

.comment-body {
  width: 100%;
  margin: 0 auto 20px 10px;
}

.recent-comment-for-posts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto 20px auto;
  border: 1px solid black;
}

.recent-comment-for-post {
  font-size: 14px;
  margin: 10px;
}

.create-post-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.create-post-form-textarea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.new-post-title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
}

.new-post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px auto 20px auto;
}

.new-post-button {
  padding: 5px 30px;
  margin-top: 20px;
  background-color: teal;
  color: white;
  border-radius: 5px;
  border: 2px solid teal;
  width: 100%;
  text-align: center;
}

.form-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: start;
  margin-left: -350px;
  margin-top: 20px;
}
