<p>Hello <%= @email %>!</p>

<% if @resource.unconfirmed_email? %>
  <p>We're notifying you that your email is being changed to <%= @resource.unconfirmed_email %> and you need to confirm it.</p>
<% else %>
  <p>We're notifying you that your email has been changed to <%= @resource.email %> successfully.</p>
<% end %>
