<p>Hello <%= @user.username %>!</p>

<p>We wanted to let you know that the password for your account at <%= @app_name %> has been changed.</p>

<p>If you did not request this change, please contact us immediately at support@<%= @app_name %>.com.</p>

<p>Thank you for using <%= @app_name %>!</p>
